@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}
